<div class="container-fluid">
    <p class=" h1 text-info row p-1 my-2">
        <strong>Lista de tus citas</strong>
    </p>
    <div class="row">
        <div class="col-lg-12 py-2">
            <table datatable [dtOptions]="dtOptions" id="datatable" [dtTrigger]="dtTrigger" class="display nowrap" style="width:100%">
                <thead>
                    <tr class="table-info">
                        <th scope="col" class="d-none d-sm-none ">Id</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col" class=" ">id de mascota</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cita of citas">
                        <th scope="row" class=" d-none d-sm-none ">{{cita.id}}</th>
                        <td>{{cita.fecha}}</td>
                        <td>{{cita.hora}}</td>
                        <td class=" ">{{cita.pet.nombre}}</td>
                        <td>{{cita.motivo}}</td>
                        <td>

                            <!--Botón para editar -->
                            <!--(click)="guardarEditarMascota(mascota) "-->
                            <button class="btn btn-info text-white " (click)="guardarEditarCita(cita)">
                            <fa-icon [icon]="faPenIcon "></fa-icon>Editar
                          </button>


                            <!--Botón apra borrar-->
                            <!--href="/mascota/editarmascota "-->
                            <button (click)="borrarcitas(cita) " class="btn btn-danger text-white " value=iconoBasura()>

                            <fa-icon [icon]="fatrashcan "></fa-icon> Borrar
                          </button>
                            <!--Para el icono de papelera-->

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group row p-3 justify-content-center">
        <div class="row">
            <a id="botonregresarfor" class="btn btn-secondary col-12  text-white p-3" routerLinkActive="active" [routerLink]="['/paginasUser/menu/menucliente']" (click)="cargarRegresar()"><strong><mat-icon>arrow_back</mat-icon>  Volver al menú de cliente</strong></a>
        </div>

    </div>
